extends layout

block content
  header.jumbotron.masthead
    div.container
      h1!= title
  div.container
    div.row
      div.span3
        include nav-side
      div.span9.content
        !{body}
