footer.footer
  div.container
    p We should think about licensing at some point.
    p
      a(href="http://github.com/joebadmo") @joebadmo 
      & 
      a(href="http://github.com/davidkofahl") @davidkofahl
    ul.footer-links
      li
        a(href="/") Home
      li.muted &middot;
      li
        a(href="http://github.com/joebadmo/patchwork") GitHub
