div#footer
  div.container
    div.row
      div.span1
        img(src="https://www.appfog.com/img/bydevfordev_95.png", width="95", height="79", alt="By Developers For Developers", id="badge")
      div.span3
        h4 About AppFog
        p Easily build and deploy fast, scalable, and reliable applications to the cloud in seconds. Yeah, it's that easy.
      div.span2
        h4 Info
        ul
          li
            a(href="https://groups.google.com/forum/#!forum/appfog-users") Support
          li
            a(href="https://www.appfog.com/about/") About
          li
            a(href="https://docs.appfog.com/") Documentation
      div.span2
        ul
          h4 &copy; &nbsp;
            script document.write(new Date().getFullYear()+" AppFog");
          li All Rights Reserved.
      div.span4
        h4 Social
        ul#social
          li#facebook
            a(href="https://www.facebook.com/pages/AppFog/159333004147490") Facebook
          li#twitter
            a(href="https://twitter.com/#!/appfog") Twitter
          li#linkedin
            a(href="https://www.linkedin.com/company/appfog") LinkedIn
        div.social-buttons
          a(href="https://twitter.com/share", class="twitter-share-button", data-url="https://www.appfog.com", data-text="Check out AppFog, the best platform as a service for hackers!") Tweet
          script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          div.fb-like(data-href="https://www.appfog.com", data-send="false", data-layout="button_count", data-width="90", data-show-faces="false", data-font="lucida grande")
