div#pre-header
  a(href="https://www.appfog.com/enterprise/") Get Enterprise AppFog on Private Clouds and On Premises Today
div#header
  div.container
    a(href="https://www.appfog.com/", id="app_fog")
      img(src="https://www.appfog.com/img/app-fog.png", width="189", height="47", alt="App Fog")
    ul(id="main_nav")
      li#nproducts
        a(href="https://www.appfog.com/products/appfog/", title="Product") Product
      li#nenterprise
        a(href="https://www.appfog.com/enterprise/", title="Enterprise") Enterprise
      li#npricing
        a(href="https://www.appfog.com/products/phpfog/pricing/") Pricing
      li#nshowcase
        a(href="https://www.appfog.com/showcase/", title="Showcase") Showcase
      li#ndocs
        a(href="/", title="Docs") Docs
      li#nabout
        a(href="https://www.appfog.com/about/", title="About") About
      li#nblog
        a(href="https://blog.appfog.com/", title="Blog") Blog
      li#nlogin
        a(href="https://console.appfog.com/login", title="Log In", class="btn gray") Log In
      li#nsignup
        a(href="https://console.appfog.com/signup", title="Sign Up", class="btn bright_green") Sign Up
