if (title == "AppFog Documentation")
  title!= title
else
  title
    !{title} - AppFog Documentation
meta(charset="utf-8")
meta(name="description", content="Simple PaaS for Java, Node, .Net, Ruby, PHP, MySQL, Mongo, PostgreSQL, and more. Freedom to move between IaaS at will with the easiest pricing in the cloud.")
meta(name="author", content="AppFog")
link(rel="stylesheet", href="https://www.appfog.com/css/style.css")
link(rel="stylesheet", href="/static/css/prettify.css")
link(rel="stylesheet", href="/static/css/docs.css")
link(rel="stylesheet", href="/static/css/table.css")
link(rel="icon", type="image/png", href="https://www.appfog.com/favicon.ico")
script(type="text/javascript", src="https://use.typekit.com/abw3xjt.js")
script(type="text/javascript")
  try{Typekit.load();}catch(e){}
script(src="https://www.appfog.com/js/libs/modernizr-2.5.3.min.js")
script(type="text/javascript", src="/static/js/google-code-prettify/prettify.js")
script(type="text/javascript", src="/static/js/jquery.js")
script(type="text/javascript", src="/static/js/bootstrap.js")
script(type="text/javascript", src="/static/js/jquery.collapsible-menus.min.js")
script(type="text/javascript", src="/static/js/docs.js")
script(type="text/javascript", src="/static/js/prettyprint.js")
