div#header
  div.container
    a(href="http://appfog.com/", id="app_fog")
      img(src="http://appfog.com/img/app-fog.png", width="189", height="47", alt="App Fog")
    ul(id="main_nav")
      li(id="npricing")
        a(href="http://appfog.com/products/phpfog/pricing/") Pricing
      li(id="nshowcase")
        a(href="http://appfog.com/showcase/", title="Showcase") Showcase
      li(id="nabout")
        a(href="http://appfog.com/about/", title="About") About
      li(id="nsupport")
        a(href="http://appfog.com/support/", title="Support") Support
      li(id="nblog")
        a(href="http://blog.appfog.com/", title="Blog") Blog
