div#docs_menu.span3
    +parseMenu(menu, 0)

mixin parseMenu(menuArr, level)
  ul(class="level#{level}")
    each item, i in menuArr
      li
        if item.children
          h6(class="head#{level}")!= item.title
              i.accordion-icon.icon-chevron-right
          mixin parseMenu(item.children, level+1)
        else
          a(href="/#{item.path}")
            h6!= item.title
