div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      button.btn.btn-navbar.collapsed(type="button", data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") Patchwork
      div.nav-collapse.collapse
        ul.nav
          each item, i in menu
            if item.path != ("index" || "/")
              if item.path == path
                li.active
                  a(href="/#{item.path}) #{item.title}
              else
                li
                  a(href="/#{item.path}") #{item.title}
