body {
    position: relative;
    padding-top: 40px;
}

.jumbotron {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1;
}

.nav-list {
    padding-top: 50px;
}

.nav-list > li > a {
    border: 1px solid #E5E5E5;
    margin: 0 0 -1px;
}

.content {
    padding-top: 50px;
}

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}
